<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Segmentation Result</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <script>
    // JavaScript code to toggle the hover-title class and move the header-title element
    const headerTitle = document.querySelector('.header-title');
    const titleWrapper = document.querySelector('.title-wrapper');
    const header = document.querySelector('.header');

    titleWrapper.addEventListener('mouseover', function() {
      header.classList.add('hover-title');
      header.appendChild(headerTitle);
    });

    titleWrapper.addEventListener('mouseout', function() {
      header.classList.remove('hover-title');
      titleWrapper.appendChild(headerTitle);
    });

    header.addEventListener('mouseover', function() {
      if (!header.classList.contains('hover-title')) {
        header.classList.add('hover-title');
        header.appendChild(headerTitle);
      }
    });

    header.addEventListener('mouseout', function() {
      if (header.classList.contains('hover-title')) {
        header.classList.remove('hover-title');
        titleWrapper.appendChild(headerTitle);
      }
    });
  </script>
</head>
<body>
  <div class="title-wrapper">
    <h1 class="header-title">Segmentation Result</h1>
  </div>
  <header class="header hover-title">
    <button id="darkModeToggle" class="dark-mode-btn">Dark Mode</button>
  </header>
  <main class="container">
    <div class="content-left">
      <p class="description">{{ result }}</p>
      <ul>
        {% for result_image_filename, detected_categories in results %}
        <li>
          <img src="{{ url_for('static', filename='uploaded_files/' + result_image_filename) }}" alt="Segmented Media" class="media-content"/>
          <ul>
            {% for category, accuracy in detected_categories %}
            <li>{{ category }} - Accuracy: {{ '%.2f'|format(accuracy) }}</li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
      <a href="{{ url_for('index') }}" class="btn-scan">Scan Another File</a>
    </div>
  </main>

  <footer class="footer">
    <p>© 2024 DR Co. All rights reserved.</p>
    
